.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
// <CHANGE> Removed yarn.lock to avoid yarn detection issues
node_modules/**
out/test/**
